* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 800px;
  width: auto;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  box-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
}

.container {
  margin-top: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.hoofdMenu {
  justify-content: space-evenly;
}
.bgColor {
  background-color: #e1c3e2;
}

.tekstregel {
  font-size: 25px;
  font-style: italic;
  display: flex;
  text-align: center;
}

.menuKleur {
  position: fixed;
  list-style: none;
  visibility: hidden;
}

.showMenuKleur {
  position: fixed;
  list-style: none;
  visibility: visible;
  position: absolute;
  top: 130px;
  left: -100px;
  animation-name: movingIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

button {
  padding: 15px;
  width: 100px;
  height: 50px;
  list-style: none;
  display: flex;
  direction: column;
  align-content: center;
  border-radius: 10px;
}

.home {
  background-color: #e1c3e2;
}
.blauw {
  background-color: rgb(71, 140, 243);
}

.rood {
  background-color: rgb(245, 75, 75);
}

.geel {
  background-color: khaki;
}

.groen {
  background-color: mediumseagreen;
}

.oranje {
  background-color: orange;
}

@keyframes movingIn {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(150px);
  }
}
